.q {
  -webkit-text-stroke: 0.5px black;
  font-weight: 1000;
  font-size: 200%;
}

#quote,
#movie {
  font-family: Palatino Linotype;
}

#quote {
  margin-top: 5%;
  letter-spacing: 3px;
  transform: scale(1, 0.9);
  width: 100%;
}

#btn {
  margin-top: 20px;
  margin-bottom: 1%;
  margin-right: 20px;
  float: right;
  color: white;
}

#movie {
  padding-right: 3%;
  float: right;
  font-weight: 600;
}

.rowx {
  background-color: white;
  border: 1px solid white;
  border-radius: 3px;
  width: 50%;
  margin: auto;
}

div.clear {
  clear: both;
}

.container-fluid {
  margin: 5% auto auto auto;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
}

.twitter-share-button {
  margin-top: 42px;
  margin-left: 5%;
  margin-bottom: 0%;
  float: left;
}

.fa.fa-twitter {
  color: white;
  font-size: 1.3em;
  padding: 5px;
  border-radius: 3px;
}

.google-button {
  float: left;
  margin-left: 2%;
  margin-top: 25px;
  width: 55px;
  height: 16px;
  -ms-transform: scale(1, 1.4);
  -webkit-transform: scale(1, 1.4);
  transform: scale(1, 1.4);
}

.made-by {
  margin-top: 1%;
  font-family: Palatino Linotype;
  font-weight: 600;
}

.row {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

@media only screen and (max-width: 768px) {
    
	.rowx {

		width: 80%;

	}
	
}